<h1>Projects</h1>
<div class="projects">
    <dl id="budgeteers">
        <h2>Budgeteers API</h2>
        <dt>Language(s) and Technologies</dt>
        <dd>Java, JWT, Spring Boot, Spring Security, MockMVC</dd>
        <dt>Description</dt>
        <dd>A budgeting API where a user can perform CRUD operations on expenses within a designated budget. Including myself, there are three contributors to this project.</dd>
        <div>
            <a href="https://github.com/lizabawa/budgeteers-server">Github</a>
        </div>
        <div>
            <img src="https://github.com/lizabawa/budgeteers-server/raw/main/endpoints.png" />
        </div>
    </dl>
</div>
<div class="projects">
    <dl id="ttt">
        <h2>Tic Tac Toe</h2>
        <dt>Language(s) and Technologies</dt>
        <dd>Javascript, Bootstrap, HTML, CSS, SweetAlerts</dd>
        <dt>Description</dt>
        <dd>A game of tic-tac-toe between two players, one whom is randomly chosen to start at the beginning of each round. Play it <a href="https://lizabawa.github.io/tic-tac-toe/">here</a>!</dd>
        <div>
            <a href="https://github.com/lizabawa/tic-tac-toe">Github</a>
        </div>
        <div>
            <img src="https://github.com/lizabawa/tic-tac-toe/raw/main/media/ttt-ui.png" />
        </div>
    </dl>
</div>