<nav>
    <ul class="nav">
        <li>
            <a routerLink="/home">Home</a>
        </li>
        <li>
            <a routerLink="/projects">Projects</a>
        </li>
        <li>
            <a class="sm-icons" href="https://github.com/lizabawa">
                <i class="bi bi-github"></i>
            </a>
        </li>
        <li>
            <a class="sm-icons" href="https://www.linkedin.com/in/elizabeth-a-yang/">
                <i class="bi bi-linkedin"></i>
            </a>
        </li>
    </ul>
</nav>
<div id="tagline">
    <app-tagline></app-tagline>
</div>
<router-outlet></router-outlet>