<nav>
    <ul class="nav">
        <li>
            <a href="#about">About</a>
        </li>
        <li>
            <a href="#projects">Projects</a>
        </li>
        <li>
            <a class="sm-icons" href="https://github.com/lizabawa" target="_blank">
                <i class="bi bi-github"></i>
            </a>
        </li>
        <li>
            <a class="sm-icons" href="https://www.linkedin.com/in/elizabeth-a-yang/" target="_blank">
                <i class="bi bi-linkedin"></i>
            </a>
        </li>
    </ul>
</nav>
<div id="tagline">
    <app-tagline></app-tagline>
</div>
<router-outlet></router-outlet>
<app-home id="about"></app-home>
<app-projects id="projects"></app-projects>