.jumbotron {
    text-align: center;
    padding: 100px;
    background-color: white;
    background-image: url("../../assets/images/jumbotron-background.png");
    background-size: cover;
}

img {
    border-radius: 50%;
}
