<div id="about-container" class="container-fluid">
    <div class="row">
        <div class="col-md-8">
            <h1 id="about-me">Get to Know Me</h1>
            <p>I am a <strong>Fullstack Web Developer</strong> crafting seamless websites and web applications that lead to customer engagement.</p>
            <p>I have completed two bootcamps, <strong>NuCamp</strong> and <strong>Interapt</strong>, where I gained the knowledge and experience to develop functional websites.</p>
            <p>I am open to job opportunities where I can contribute, learn, and grow. If you have an opportunity that matches my skills and experience, don't hesitate to message me via <a href="https://www.linkedin.com/in/elizabeth-a-yang/">LinkedIn</a>!</p>
        </div>
        <div class="col-md-4">
            <skills></skills>
        </div>
    </div>
</div>
<app-projects></app-projects>




