<button id="projects-button">Projects</button>
<h1 id="about-me">Get to Know Me</h1>
<div class="container-fluid">
    <div class="row">
        <div class="col-md-6">
            <p>I am a <strong>Fullstack Web Developer</strong> crafting seamless websites and web applications that lead to customer engagement.</p>
            <p>I have completed two bootcamps, NuCamp and Interapt, where I gained the knowledge and confidence to develop functional websites.</p>
            <p>I am open to job opportunities where I can contribute, learn and grow. If you have an opportunity that matches my skills and experience, don't hesitate to contact me!</p>
            <button id="contact-button">Contact</button>
        </div>
        <div class="col-md-6">
            <skills></skills>
        </div>
    </div>
</div>




