<button>Projects</button>
<h1>Get to Know Me</h1>
<p>I am a <strong>Fullstack Web Developer</strong> crafting seamless websites and web applications that lead to customer engagement.</p>
<p>I have completed two bootcamps, NuCamp and Interapt, where I gained the knowledge and confidence to develop functional websites.</p>
<p>I am open to job opportunities where I can contribute, learn and grow. If you have an opportunity that matches my skills and experience, don't hesitate to contact me!</p>
<button>Contact</button>

<skills></skills>
