/* #projects-button {
    background-color: rgb(255, 196, 0);
    box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);
    color: black;
    border: none;
    border-radius: 4px;
    position: absolute;
    left: 50%;
    transform: translate(-50%, -50%);
    height: 50px;
    width: 90px;
} */

/* #contact-button {
    background-color: rgb(255, 196, 0);
    box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);
    color: black;
    border: none;
    border-radius: 4px;
    position: absolute;
    left: 25%;
    transform: translate(-25%, -25%);
    height: 50px;
    width: 90px;
    margin: 50px;
} */

#about-me {
    margin-top: 100px;
    margin-bottom: 30px;
    text-align: center;
}

#about-container {
    background-color: rgb(245, 245, 245);
    padding: 50px;
    /* background-color: rgb(247, 183, 65); */
}

.sm-icons {
    padding: 15px;
    font-size: 40px;
}